@import 'variables';

@font-face {
    font-family: 'Sinthya';
    src: url('./fonts/Sinthya.ttf');
}

@font-face {
    font-family: 'Catamaran';
    src: url('./fonts/Catamaran-Regular.ttf');
}

@font-face {
    font-family: 'Monalisa';
    src: url('./fonts/Monalisa.ttf');
}
  

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
    font-family: 'Catamaran';
    accent-color: $accent-color;
}

::selection {
    background-color: rgba(156, 146, 155, 0.5);
}

.logo {
    width: 100%;
    margin-top: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0;
        font-family: 'Sinthya';
        color: #2f2e3e;
    }

    .studio {
        margin: 0;

        color: #5d6675;
        font-family: 'Catamaran';
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 15px;
        text-transform: uppercase;
    }
}

.btn {
    text-transform: uppercase;
    cursor: pointer;
}

.btn--submit {
    max-width: 300px;
    padding: 10px 15px;

    color: white;
    background-color: $accent-color;

    letter-spacing: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}
