
@font-face {
    font-family: 'Sinthya';
    src: url('fonts/Sinthya.ttf');
}

@font-face {
    font-family: 'Catamaran';
    src: url('fonts/Catamaran-Regular.ttf');
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: 'Catamaran';
}

.logo {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    all: unset;
    cursor: pointer;
}

.logo h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Sinthya';
    color: #2f2e3e;
}

.logo h6 {
    margin: 0;

    font-family: 'Catamaran';
    text-transform: uppercase;
    letter-spacing: 15px;

    color: #d9d4da;
}

.user-profile {
    right: 15px;
    top: 15px;
    position: absolute;
}

.submit-btn {
    all: unset;
    margin: 5px;
    padding-left: 25px;
    font-family: 'Catamaran';
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 7px;

    transition: ease-in-out all 0.3s;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.submit-btn:hover {
    opacity: 0.75;
}

.submit-btn::before {
    content: '';
    width: 50px;
    height: 50px;

    left: 0;

    border-radius: 50%;
    background-color: #d9d4da;

    position: absolute;

    z-index: -1;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9d919b;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}
  