.dates {
    width: 100%;
    padding: 0 15%;
}

.styles {
    width: 100%;
    padding: 0 15%;

    display: flex;
    justify-content: space-between;
}

.style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.style span {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 12px;
    letter-spacing: 3px;
    opacity: 0.9;
}

label > input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

label > input:checked + .thumb {
    border: 2px solid #9c929b;
    opacity: 1;
}

.thumb {
    height: 170px;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    opacity: 0.7;

    overflow: hidden;
}

.thumb img {
    height: 100%;
    width: auto;
}

article h4 {
    margin-left: 100px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.options {
    padding: 0 15%;

    display: flex;
    flex-direction: column;
}

.options label {
    margin: 5px 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
}

#loading {
    text-align: center;
}

h5 {
    text-align: center;
}

select {
    padding: 5px 15px;
    margin: 0 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(216, 209, 217, 0.5);
    border: none;

    transition: ease-in-out all 0.3s;
}

select:hover {
    color: #9d919b;
}

select:focus-visible {
    outline: none;
}

option {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.download-links {
    width: 100%;
    padding: 0 15%;

    text-align: center;
}

#loading h4,
.download-links h4 {
    margin: 0;
}

.download-links a {
    margin: 5px;
    border-bottom: 2px solid #ecd6d9;
}
