{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='monthly-wrap-up.css') }}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='monthly-wrap-up.js') }}"></script>
{% endblock %}


{% block content %}
<article class="monthly-wrap-up page">
    <h2>monthly wrap up</h2>

    <br>

    <h4>> month</h4>
    <div class="dates">
        <select id="month">
            <option value="hide">-- Month --</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select> 
    
        <select id="year">
            <option value="hide">-- Year --</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
        </select>
    </div>

    <br>

    <h4>> style</h4>
    <div class="styles">
        <label class="style">
            <input type="radio" name="style" value="elegant" checked />
            <div class="thumb">
                <img src="{{ url_for('static', filename='images/elegant-0.png') }}">
                <img src="{{ url_for('static', filename='images/elegant-1.png') }}">
            </div>
            <span>elegant</span>
        </label>

        <label class="style">
            <input type="radio" name="style" value="polaroid" />
            <div class="thumb">
                <img src="{{ url_for('static', filename='images/polaroid-0.png') }}">
                <img src="{{ url_for('static', filename='images/polaroid-1.png') }}">
            </div>
            <span>polaroid</span>
        </label>
    </div>

    <br>

    <h4>> options</h4>
    <div class="options">
        <label>
            <input type="checkbox" name="ig-handle" value="ig-handle" />
            include Instagram handle
        </label>
        <label>
            <input type="checkbox" name="no-low-rating" value="no-low-rating" />
            don't show books with low rating
        </label>
    </div>

    <br><br><br>

    <div id="submit" class="submit-btn" style="margin-left: 45%;">generate >>></div>

</article>

<div id="loading" style="display: none;">
    <br><br><br><br><br>
    <h4>> working... please wait</h4>
    <br>
    <div class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

{% endblock %}