{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='setup.css') }}">
<script src="{{ url_for('static', filename='setup.js') }}"></script>
{% endblock %}

{% block content %}
<form class="setup" id="setup-form" method="post" action="/setup-accounts">
    <h2>setup accounts</h2>
    <br>
    <input type="url" name="goodreads" placeholder="Goodreads Account URL" autocomplete="on"/>
    <input type="url" name="instagram" placeholder="Instagram Account URL" autocomplete="on"/>
    <br>
    <div class="submit-btn">continue >>></div>
</form>

{% endblock %}